.content form ul .checked,.content img,.header .logo,.header img {
	display:block
}
.bottom,.header {
	overflow:hidden
}
* {
	margin:0;
	padding:0
}
li {
	list-style:none
}
a {
	text-decoration:none
}
.header {
	width:1000px;
	margin:27px auto 0
}
.header .logo {
	float:left
}
.header .logo1 {
	float:right;
	margin-top:20px
}
.content {
	width:1000px;
	margin:45px auto 600px
}
.content img {
	float:left;
	margin:20px 20px 0 36px
}
.content form {
	width:330px;
	float:right;
	margin-right:25px;
	padding:0 10px;
	color:#444851
}
.content form .c {
	width:300px;
	height:30px;
	line-height:30px
}
.content form ul {
	width:330px;
	position:relative
}
.content form ul li {
	width:330px;
	list-style:none;
	position:absolute;
	top:0;
	left:0;
	display:none
}
.content form h2 {
	display:block;
	float:left;
	font-size:22px;
	color:#c41f3a
}
.content form span {
	display:block;
	margin-left:150px;
	font-size:12px;
	color:#8c8c8c
}
.content form span a {
	color:#c41f3a
}
.content form .r {
	margin-top:30px;
	margin-bottom:10px;
	font-size:12px;
	color:#000
}
.content form .r .r-1 {
	margin-right:10px
}
.content form .r .r-2 {
	margin-right:10px;
	margin-left:80px
}
.content form #pwd,.content form #tel1,.content form #tel2 {
	width:294px;
	height:40px;
	padding-left:6px;
	color:#444851;
	font-size:12px;
	border-width:1px;
	border-style:solid;
	border-color:#c8c8c8
}
.content form #ppwd,.content form #ptel1,.content form #ptel2,.content form #py1,.content form #py2 {
	width:330px;
	padding-top:5px;
	height:25px;
	font-size:12px;
	color:#c8c8c8
}
.content form #py1,.content form #py2 {
	float:left
}
.content form #yzm1,.content form #yzm2 {
	width:162px;
	height:40px;
	padding-left:6px;
	color:#444851;
	font-size:12px;
	border-width:1px;
	border-style:solid;
	border-color:#c8c8c8;
	float:left
}
.content form #box1,.content form #box2 {
	font-family:Arial;
	font-style:italic;
	font-weight:700;
	border:0;
	letter-spacing:2px;
	width:74px;
	height:42px;
	font-size:22px;
	color:#3cb371;
	line-height:42px;
	text-align:center;
	float:left;
	margin-left:16px;
	border-radius:5px;
	background:#C8C8C8
}
.content form #aa1,.content form #aa2 {
	height:36px;
	line-height:36px;
	font-size:12px;
	color:red;
	display:inline-block;
	margin-left:8px
}
.content form .rem {
	float:left
}
.content form #username {
	display:block;
	font-size:12px;
	color:#000;
	float:left;
	margin-left:5px
}
.content form .forpwd {
	display:block;
	font-size:12px;
	color:#C8C8C8;
	float:right;
	margin-right:50px
}
.content form #login1,.content form #login2 {
	width:302px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:#94193f;
	border:none;
	color:#fff;
	margin-top:10px;
	cursor:pointer
}
.content form .log {
	padding-top:15px;
	height:100px
}
.content form .log p {
	font-size:12px;
	color:#000
}
.content form .log div {
	width:300px;
	margin-top:15px
}
.content form .log div a {
	display:block;
	float:left;
	width:50px;
	height:50px;
	margin-right:8px;
	background:url(../../images/login_icon_list_1.png) no-repeat
}
.content form .log div .hz_qq {
	background-position:0 -32px
}
.content form .log div .hz_xl {
	background-position:-74px -32px
}
.content form .log div .hz_zfb {
	background-position:-143px -32px
}
.bottom {
	width:1000px;
	margin:50px auto
}
.bottom p {
	font-size:12px;
	color:#7e7e7e;
	line-height:30px;
	text-align:center
}
.bottom .b-l {
	text-align:center;
	margin-top:35px
}
.ewm {
	position:absolute;
	top:170px;
	right:10px
}
