* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@mixin width {
    width: 1000px;
    margin: 0 auto;
}

.header {
    @include width;
    margin-top: 27px;
    overflow: hidden;
    img {
        display: block;
    }
    .logo {
        display: block;
        float: left;
    }
    .logo1 {
        float: right;
        margin-top: 20px;
    }
}

@mixin style {
    height: 40px;
    padding-left: 6px;
    color: #444851;
    font-size: 12px;
    border: {
        width: 1px;
        style: solid;
        color: #c8c8c8;
    }
}

.content {
    @include width;
    margin-top: 45px;
    
    margin-bottom: 600px;
    img {
        float: left;
        display: block;
        margin: 20px 20px 0 36px;
    }
    form {
        width: 330px;
        float: right;
        margin-right: 25px;
        padding: 0 10px;
        color: #444851;
        .c {
            width: 300px;
            height: 30px;
            line-height: 30px;
        }
        ul{
            width: 330px;
            position: relative;
            
            .checked{
                display: block;
            }
            li{
                width: 330px;
                list-style: none;
                position: absolute;
                top: 0;
                left: 0;
                display: none;
            }
        }
        h2 {
            display: block;
            float: left;
            font-size: 22px;
            color: #c41f3a;
        }
        span {
            display: block;
            margin-left: 150px;
            font-size: 12px;
            color: #8c8c8c;
            a {
                color: #c41f3a;
            }
        }
        .r {
            margin-top: 30px;
            margin-bottom: 10px;
            font-size: 12px;
            color: #000000;
            .r-1 {
                margin-right: 10px;
            }
            .r-2 {
                margin-right: 10px;
                margin-left: 80px;
            }
        }
        #tel1,#tel2 {
            width: 294px;
            @include style;
        }
        #ptel1,#ptel2,#ppwd {
            width: 330px;
            padding-top: 5px;
            height: 25px;
            font-size: 12px;
            color: #c8c8c8;
        }
        #pwd{
            @extend #tel1;           
        }
        #py1,#py2{
            @extend #ptel1;
            float: left;            
        }
        #yzm1,#yzm2{
            width: 162px;
            @include style;
            float: left;
        }

        #box1,#box2 {
            font-family: Arial;
            font-style: italic;
            font-weight: bold;
            border: 0;
            letter-spacing: 2px;           
            width: 74px;
            height: 42px;
            font-size: 22px;
            color: mediumseagreen;
            line-height:42px;
            text-align: center;
            float: left;
            margin-left: 16px;
            border-radius: 5px;
            background: #C8C8C8;          
        }
       
        #aa1,#aa2 {
            display: block;
            height: 36px;
            line-height: 36px;
            font-size: 12px;
            color: red;
            display: inline-block;
            margin-left: 8px;
        }
       
        .rem{
        float: left;
    }
    #username{
        display: block;
        font-size: 12px;
        color: #000000;
        float: left;
        margin-left: 5px;
    }
    .forpwd{
        display: block;
        font-size: 12px;
        color: #C8C8C8;
        float: right;
        margin-right:50px;
    }
        #login1,#login2 {
            width: 302px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: #94193f;
            border: none;
            color: #fff;
            margin-top: 10px;
            cursor: pointer;
        }
        .log {
            padding-top: 15px;
            height: 100px;
            
            p {
                font-size: 12px;
                color: #000000;
            }
            div{
                width: 300px;
                margin-top: 15px;
                a {
                    display: block;
                    float: left;
                    width: 50px;
                    height: 50px;
                    margin-right: 8px;
                    background: url(../../images/login_icon_list_1.png) no-repeat;
                }
                .hz_qq {
                    background-position: 0 -32px;
                }
                .hz_xl {
                    background-position:-74px -32px;
                }
                .hz_zfb {
                    background-position: -143px -32px;
                }
            }
        }
    }
}

.bottom {
    @include width;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 50px;
    p {
        font-size: 12px;
        color: #7e7e7e;
        line-height: 30px;
        text-align: center;
    }
    .b-l {
        text-align: center;
        margin-top: 35px;
    }
}

.ewm {
    position: absolute;
    top: 170px;
    right: 10px;
}